*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

body {
    height: 100vh;
    background: linear-gradient(to right, rgb(254,218,2), rgb(112,148,13));
    font-family: sans-serif;
}

.container{
    width: 500px;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 2px;
}

.container form{
    border-bottom: 1px solid #333;
    padding: 10px 20px;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
}

.container form input{
    font-size: 20px;
    width: 100%;
    margin-right: 15px;
    border: none;
    outline: none;
}

.container form button{
    background-color: rgb(70,165,76);
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    margin-left: 10px;
}

.container ul{
    margin: 0px 20px;
}

.container ul li{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
    cursor: pointer;
    text-overflow: ellipsis;
}

.container ul li i{
    cursor: pointer;
}

li.done{
    color: rgb(155, 155, 155)
}

li.done span{
    text-decoration:line-through;
}